
body{
    background-color : #00072d;
}

button{
    border : none;
    background-color:transparent;
    color:white;
    font-family: 'Merriweather Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end;
    
    
}